HTML CSSResult Skip Results Iframe
EDIT ON
/*タブ切り替え全体のスタイル*/
.tabs {
  padding-bottom: 40px;
  background-color: #fff;
  width: 70px;
}


/*タブのスタイル*/
.tab_item {
  width: 15%;
  height: 100px;
  border-bottom: 3px solid #3d382f;
  background-color: rgba(38, 34, 24, 0.8);
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  color: #999999;
  display: block;
  float: left;
  text-align: center;
  transition: all 0.3s ease;
  border-radius:0px 0px 10px 10px;

  position: relative;
  left: 35%
}
.tab_item:hover {
  background-color: #10daa1;
  color : #fcfcfc;
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.5);
  transform: translateY(-5px);
  cursor: pointer;
}



/*ラジオボタンを全て消す*/
input[name="tab_item"] {
  display: none;
}

/*タブ切り替えの中身のスタイル*/
.tab_content {
  display: none;
  padding: 40px 40px 0;
  clear: both;
  overflow: hidden;
}


/*選択されているタブのコンテンツのみを表示*/
#Profile:checked ~ #Profile_content,
#Experience:checked ~ #Experience_content {
  display: block;
}

/*選択されているタブのスタイルを変える*/
.tabs input:checked + .tab_item {
  background-color: #10daa1;
  color: #fff;
}

img{
  position: relative;
  width: 40px;
  height: 40px;
  bottom: 20px;
}

/* スマホ専用のCSSを書く */
@media (max-width: 768px) {
  .tab_item {
    width: 25%;
    height: 75px;
    left: 25%
  }

  img{
    position: relative;
    width: 30px;
    height: 30px;
    bottom: 27px;
  }
}
